---
// This page used for preview OG
import '@styles/base.css';
import profile from '@assets/images/profile.jpg';
import Logo from '@components/header/Logo.astro';

const title = 'A Complete Guide to React Router: Everything You Need to Know';
const author = 'Huy Nguyen';
---

<html lang="en">
  <head>
    <script is:inline src="/toggle-theme.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body
    class="h-[630px] bg-white text-zinc-900 antialiased relative flex flex-col min-h-screen dark:bg-zinc-900 dark:text-white"
  >
    <div class="absolute inset-0 -z-10 mx-0 max-w-none overflow-hidden">
      <div
        class="absolute left-1/2 top-0 ml-[-38rem] h-[42rem] w-[81.25rem] dark:[mask-image:linear-gradient(white,transparent)]"
      >
        <div
          class="absolute inset-0 bg-gradient-to-r from-[#36b49f] to-[#d3ff75] opacity-40 [mask-image:radial-gradient(farthest-side_at_top,white,transparent)] dark:from-[#36b49f]/30 dark:to-[#d3ff75]/30 dark:opacity-100"
        >
          <svg
            aria-hidden="true"
            class="absolute inset-x-0 inset-y-[-50%] h-[200%] w-full fill-black/40 stroke-black/50 mix-blend-overlay dark:fill-white/2.5 dark:stroke-white/5"
          >
            <defs>
              <pattern
                id=":S2:"
                width="72"
                height="56"
                patternUnits="userSpaceOnUse"
                x="-12"
                y="4"
              >
                <path d="M.5 56V.5H72" fill="none"></path>
              </pattern>
            </defs>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#:S2:)"
            ></rect>
          </svg>
        </div>
      </div>
    </div>
    <div
      class="relative z-40 flex py-8 item-center items-center justify-center gap-12 bg-white/50 backdrop-blur-sm dark:bg-zinc-900/20 dark:backdrop-blur px-4 sm:px-6 lg:px-8"
    >
      <div
        class="absolute inset-x-0 top-full h-px bg-zinc-900/5 transition dark:bg-white/5"
      >
      </div>
      <Logo className="h-16 w-56"/>
    </div>
    <div
      class="mx-auto max-w-5xl flex flex-col justify-center items-center gap-16 mt-24"
    >
      <h1 class="text-center !leading-snug sm:text-[56px] font-semibold">
        {title}
      </h1>
      {
        author ? (
          <div class="flex items-center gap-6">
            <img
              class="inline-block rounded-full border border-white/90 dark:border-white/70"
              src={profile.src}
              alt={author}
              width="80"
              height="80"
            />
            <div class="flex flex-col gap-2">
              <span class="text-xl">Written by:</span>
              <span class="text-2xl font-semibold">{author}</span>
            </div>
          </div>
        ) : null
      }
    </div>
  </body>
</html>
