---
const { className } = Astro.props;
const svgClassName = className || 'h-8 w-28';
---
<a
  class="flex gap-2 items-center text-lg transition-all"
  aria-label="https://blog.huyknguyen.com"
  href="/"
>
  <svg class={svgClassName} width="560" height="160" viewBox="0 0 560 160" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M160 133.333C160 148.061 148.061 160 133.333 160L26.6667 160C11.9391 160 6.88765e-06 148.061 5.60012e-06 133.333L-3.72498e-06 26.6666C-5.01251e-06 11.939 11.9391 -3.69492e-05 26.6667 -3.82367e-05L133.333 -4.75618e-05C148.061 -4.88493e-05 160 11.939 160 26.6666L160 133.333Z" fill="#22C55E"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M33.0669 34.0959C33.0669 33.2145 33.7827 32.5 34.6657 32.5H46.9235C52.8102 32.5 57.5824 37.2633 57.5824 43.139V71.0665H78.9002H91.158C97.0447 71.0665 101.817 75.8298 101.817 81.7056V95.5364V125.592C101.817 126.473 101.101 127.188 100.218 127.188H87.9603C82.0736 127.188 77.3014 122.424 77.3014 116.548V97.1322H57.5824V125.592C57.5824 126.473 56.8666 127.188 55.9836 127.188H43.7258C37.8391 127.188 33.0669 122.424 33.0669 116.548V95.5364V72.6624V34.0959Z" fill="white"/>
    <path d="M106.667 108.7C106.667 107.872 107.338 107.2 108.167 107.2H116.667C122.19 107.2 126.667 111.677 126.667 117.2V125.7C126.667 126.528 125.995 127.2 125.167 127.2H108.167C107.338 127.2 106.667 126.528 106.667 125.7V108.7Z" fill="#86EFAC"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M206 16.6667C206 15.7462 206.749 15 207.672 15H215.754C221.911 15 226.902 19.9746 226.902 26.1111V59.7222H254.77H258.393H262.852C269.009 59.7222 274 64.6968 274 70.8333V123.333C274 124.254 273.251 125 272.328 125H254.77C253.847 125 253.098 124.254 253.098 123.333V80.8333H226.902V123.333C226.902 124.254 226.153 125 225.23 125H207.672C206.749 125 206 124.254 206 123.333V16.6667Z" class="dark:fill-white fill-[#18181B]"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M300.679 61.6596L300.679 104.255L326.321 104.255L326.321 61.6596C326.321 60.743 327.062 60 327.975 60H345.346C346.259 60 347 60.743 347 61.6596V105.915V123.34C347 124.257 346.259 125 345.346 125H337.35H299.025L296.543 125C296.539 125 296.534 125 296.529 125H291.029C284.938 125 280 120.047 280 113.936L280 61.6596C280 60.743 280.741 60 281.654 60H299.025C299.938 60 300.679 60.743 300.679 61.6596Z" class="dark:fill-white fill-[#18181B]"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M373.679 61.6529V104.077L399.321 104.077V61.6529C399.321 60.74 400.062 60 400.975 60H418.346C419.259 60 420 60.74 420 61.6529V105.73V123.085V148.981C420 155.066 415.062 160 408.971 160H400.975C400.062 160 399.321 159.26 399.321 158.347V124.738H372.025L369.543 124.738C369.539 124.738 369.534 124.738 369.529 124.738H364.029C357.938 124.738 353 119.805 353 113.719V61.6529C353 60.74 353.741 60 354.654 60H372.025C372.938 60 373.679 60.74 373.679 61.6529Z" class="dark:fill-white fill-[#18181B]"/>
    <path d="M396 158.4C396 159.284 395.284 160 394.4 160L386.667 160C380.776 160 376 155.224 376 149.333L376 141.6C376 140.716 376.716 140 377.6 140L394.4 140C395.284 140 396 140.716 396 141.6L396 158.4Z" fill="#22C55E"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M472.321 123.34L472.321 80.7447L446.679 80.7447L446.679 123.34C446.679 124.257 445.938 125 445.025 125L427.654 125C426.741 125 426 124.257 426 123.34L426 79.0851L426 61.6596C426 60.743 426.741 60 427.654 60L435.65 60L473.975 60L476.457 60C476.461 60 476.466 60 476.471 60L481.971 60C488.062 60 493 64.9534 493 71.0638L493 123.34C493 124.257 492.259 125 491.346 125L473.975 125C473.062 125 472.321 124.257 472.321 123.34Z" class="dark:fill-white fill-[#18181B]"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M499 16.6667C499 15.7462 499.756 15 500.689 15H508.852C515.071 15 520.112 19.9746 520.112 26.1111V74.4144L536.94 60.8977C541.762 57.0239 548.854 57.7417 552.78 62.501L557.225 67.8899C557.814 68.6038 557.705 69.6536 556.981 70.2346L532.639 89.7872L559.384 111.485C560.104 112.069 560.208 113.12 559.616 113.831L555.144 119.198C551.195 123.938 544.1 124.622 539.296 120.725L520.112 105.161V123.333C520.112 124.254 519.355 125 518.423 125H500.689C499.756 125 499 124.254 499 123.333V16.6667Z" class="dark:fill-white fill-[#18181B]"/>
  </svg>
</a>
